.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .icon-link {
    margin: 0 10px;
    transition: transform 0.3s ease;
  }
  
  .icon-link:hover {
    transform: scale(1.1);
  }
  
  .icon {
    width: 40px;
    height: 40px;
  }
  
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: row; /* Set to row to ensure icons align side by side */
      justify-content: center; /* Center icons horizontally */
      align-items: center; /* Center icons vertically */
    }
  
    .icon-link {
      margin: 0 10px; /* Adjust margin to create space between icons */
    }
  }
  