.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  overflow-y: auto; /* Add overflow-y property to make content scrollable */
}

.uploaded-image {
  width: 100%; /* Ensure the container fills its parent */
  height: 100%; /* Allow the height to adjust accordingly */
  max-width: 100%; /* Limit the maximum width */
}

.uploadedimagecontainer {
  width: 100%; /* Ensure the image fills its container */
  height: 100%; /* Allow the height to adjust accordingly */
  max-width: 100%; /* Limit the maximum width */
}

.webcam-container,
.image-container
.uploadedimagecontainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 10px;
}
.modal-content {
  width: 90%;
  margin: auto;
}

.qr-code {
  max-width: 200px;
}

.input-group {
  max-width: 250px;
}

.input-group-details {
  background: none;
  border: none;
  cursor: pointer;
}

.webcam {
  width: 100%; /* Make the webcam fill its container */
  height: auto; /* Ensure the aspect ratio is maintained */
  max-width: 100%; /* Limit the maximum width */
  max-height: 100%; /* Limit the maximum height */
}

.cus {
  background-image: linear-gradient(144deg, #00DDEB, #5B42F3 50%, #AF40FF); /* Swapped initial and hover colors */
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  
  font-family: Phantomsans, sans-serif;
  font-size: 18px;
  justify-content: space-around;
  line-height: 1em;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
  width: 100%; /* Ensure buttons take full width */
  margin: 10px 0; /* Add margin for spacing between buttons */
}

.cus :active,
.cus :hover {
  outline: 0;
}

.cus span {
  background-color: rgb(35, 68, 154);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.cus:hover span {
  background: none;
}

.mt-3 {
  display: flex;
  justify-content: center; /* Horizontally center the items */
  align-items: center; /* Vertically center the items */
}

/* Optional: Add margin between buttons */
.cus {
  margin: 5px;
}


.cus:active {
  transform: scale(0.9);
}
@media (max-width: 767px) {
  .container {
    grid-template-columns: 1fr; /* Change to single column layout for mobile */
  }
 
  .webCam {
    width:200; /* Set width to 100% to fit the screen */
    height: 250px; /* Let the height adjust automatically to maintain aspect ratio */
    max-width: 100%; /* Ensure the element doesn't exceed the screen width */
  }
  
  .uploadedimagecontainer{

 margin-top: 100px;
  }
  .imageupload{
    margin-top: 5px;
  }
  .uploaded-image {
   margin-top: 1000px;
  }

  .image-container{
   margin-bottom: 400px;
  }
  .cus {

    font-size: 17px; /* Reduce font size for button */
    min-width: 100px; /* Adjust minimum width for button */
    margin: 8px 2px; /* Adjust margin for spacing between buttons */
  }
  .cus span {
    
    padding: 10px 10px; /* Adjust padding for button span */
  }
}





:root {
  --spotify-green: #1db954;
  --spotify-dark: #191414;
  --spotify-light: #ffffff;
}

/* Style the heading */
h2 {
  color: var(--spotify-green);
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style the list */
ul {
  list-style: none;
  padding: 0;
}

/* Style the list items */
li {
  background-color: var(--spotify-dark);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

li:hover {
  transform: translateY(-5px);
}

/* Style the text inside the list items */
p {
  color: var(--spotify-light);
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

a {
  color: var(--spotify-green);
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

a:hover {
  color: #00a82d; /* Darker green */
}



.song-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.song-icon {
  width: 50px; /* Adjust the width of the image */
  height: 50px; /* Adjust the height of the image */
  border-radius: 50%; /* Make the image circular */
}


.song-list {
  list-style: none;
  padding: 0;
}

.song-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.song-details {
  flex: 1;
}

.song-name {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.spotify-link {
  color: #1db954;
  text-decoration: none;
  transition: color 0.3s;
}

.spotify-link:hover {
  color: #167c3f;
}

.song-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}


.dropzone-container {
  padding: 10px;
  max-height: 50vh;
  overflow-y: auto;
  margin-top: 130px;
}

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  color: rgb(27, 87, 227);
  background-color: rgb(255, 255, 255);
  border: 2px dashed #f9b3b3;
}


.spotify-btn {
  background-color: #1DB954;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.9s ease;
  width: 100%; /* Set width to 100% */

}

.spotify-btn:hover {
  background-color: #1ed760;
}

/* Modal Footer Styles */
.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

/* Keyframe Animation for Button */
@keyframes pulse {
  0% {
    transform: scale(1);
  }

}

/* Applying Animation to Button */
.spotify-btn.animate {
  animation: pulse 2s infinite;
}

.app-heading {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 44px;
  font-weight: bold;
  color: #333; /* Change text color to a shade of gray */
  text-align: center;
  margin-top: 10px;
  padding: 10px; /* Add padding for better spacing */
  background-image: linear-gradient(to bottom right, rgb(233, 235, 240)); /* Blue gradient background */
  animation: fadeIn 1s ease-out, shadowMotion 2s infinite alternate; /* Add fade-in animation and shadow/motion animation */
  transition: text-shadow 0.5s ease; /* Add transition for text-shadow property */
}

.app-heading:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Add white shadow effect on hover */
}

@media (max-width: 768px) {
  .app-heading {
    font-size: 28px; /* Adjust the font size for smaller screens */
    margin-top: 10px; /* Adjust the top margin */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* End with opacity 1 */
  }
}

@keyframes shadowMotion {
  0% {
    transform: translateY(0);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  50% {
    transform: translateY(-5px);
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }
  100% {
    transform: translateY(0);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
}

